<app-navbar></app-navbar>
<div class="container">
  <app-cart></app-cart>
  <div class="store-content">
    <div class="store">
        <h2>Store</h2>
        
        <!-- Botão Admin para adicionar produtos (visível apenas para admins) -->
        @if (isUserAdmin()) {
          <button class="admin-button" (click)="openAddProductPopup()">
            Adicionar Novo Produto
          </button>
        }
        
        <!-- Botões para escolher categorias -->
        <div>
            @for (category of categories; track category) {
                <button (click)="selectCategory(category)">{{ category }}</button>
              }
        </div>

        <!-- Lista de produtos filtrados -->
        <div class="products">
          @for (product of displayedProducts; track product.id) {
            <div class="product" (click)="addToCart(product)">
              <img [src]="getImagePath(product.image)" width="100" />
              <p>{{ product.name }} - ${{ product.price }}</p>
            </div>
          }
        </div>
    </div>
  </div>
</div>

<!-- Admin Add Product Popup -->
@if (showAddProductPopup) {
  <app-add-product (close)="closeAddProductPopup()"></app-add-product>
}