<div class="container">
    <nav class="navbar">
        <app-navbar></app-navbar>
    </nav>
    <div class="content">
      <div class="box">
        <!-- <app-login-form></app-login-form> -->
      </div>
      <div class="box">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis voluptates repudiandae quisquam quam. Rerum perferendis reprehenderit, odio possimus porro molestias vero inventore dicta blanditiis, quod nisi doloribus ipsam, optio id.
    </div>
      <div class="box">Outro Conteúdo</div>
    </div>
  </div>
