.container {
    display: grid;
    grid-template-rows: auto 1fr; /* Navbar ocupa o espaço necessário, o restante é o conteúdo */
    height: 100vh; /* Ocupa toda a altura da tela */
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 1rem;
    height: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
    border-radius: 8px;
  }
  
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas iguais */
    gap: 2rem; /* Espaço entre os blocos */
    padding: 1rem;
  }
  
  .box {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    border-radius: 8px;
  }
  